<h4 class="h4Head" align="center">Users & Roles</h4>
<h4 class="h4Head" align="center">Module : {{module}}</h4>
<h4 class="h4Head" align="center">Permission : {{name}}</h4>
<mat-dialog-content>
  <div class="formPage">
    <table class="userRole">
      <tr>
        <th style="width: 20%"></th>
        <th style="width: 80%"><b> Users</b></th>
      </tr>
      <tr *ngFor="let user of userData; let i=index">
        <td>{{i+1}}.</td>
        <td> {{user}} </td>
      </tr>
    </table>
  </div>

  <div class="formPage">
    <table class="userRole">
      <tr>
        <th style="width: 20%"></th>
        <th style="width: 80%"> <b>Roles</b></th>
      </tr>
      <tr *ngFor="let role of roleData; let i=index">
        <td>{{i+1}}.</td>
        <td> {{role}} </td>
      </tr>
    </table>
  </div>
</mat-dialog-content>