<div class="change-password-card">

  <mat-toolbar>
    <h4>Change password</h4>
  </mat-toolbar>

  <mat-card>

    <form [formGroup]="form" fxLayout="column" (ngSubmit)="onSubmit()">

      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field fxFlex>
          <input matInput type="password" placeholder="Current password" formControlName="password" required>
          <mat-error *ngIf="isFieldInvalid('password')">
            Current password 
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field fxFlex>
          <input matInput type="password" placeholder="New password" formControlName="newPassword" required>
          <mat-error *ngIf="isFieldInvalid('newPassword')">
            New password
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field fxFlex>
          <input matInput type="password" placeholder="Confirm password" formControlName="confirmPassword" required>
          <mat-error *ngIf="isFieldInvalid('confirmPassword')">
            Confirm password
          </mat-error>
        </mat-form-field>
      </div>

      <div align="center">
        <button class="saveButton" style="margin-right: 10px" mat-raised-button> Save </button>
        <button class="cancelButton" style="margin-right: 10px" mat-raised-button (click)="btnClose()"> Cancel </button>
      </div>

      <mat-error *ngIf="isError">
        {{errMsg}}
      </mat-error>

    </form>
  </mat-card>
</div>